Write raw LaTeX or other formats here, for use with nbconvert. It will not be rendered in the notebook. When passing through nbconvert, a Raw Cell's content is added to the output unmodified.

In [1]:
import pandas as pd
import numpy as np

In [2]:
basics = pd.read_csv("C:\\Users\\alackey\\Downloads\\title.basics.tsv.gz",sep='\t', low_memory=False)
ratings = pd.read_csv("C:\\Users\\alackey\\Downloads\\title.ratings.tsv.gz",sep='\t', low_memory=False)
akas = pd.read_csv("C:\\Users\\alackey\\Downloads\\title.akas.tsv.gz",sep='\t', low_memory=False)

In [3]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [4]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1901
1  tt0000002            5.9       254
2  tt0000003            6.5      1695
3  tt0000004            5.7       166
4  tt0000005            6.2      2513

In [5]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [6]:
basics.replace({'\\N':np.nan}, inplace=True)

In [7]:
ratings.replace({'\\N':np.nan}, inplace=True)

In [8]:
akas.replace({'\\N':np.nan}, inplace=True)

In [9]:
basics.dropna(subset=['runtimeMinutes', 'genres'], inplace=True)

In [10]:
basics['titleType'].value_counts()

tvEpisode       1057918
short            571584
movie            365363
video            174419
tvMovie           88081
tvSeries          86176
tvSpecial         16356
tvMiniSeries      15948
tvShort            9366
videoGame           293
Name: titleType, dtype: int64

In [11]:
basics = basics[basics['titleType']=='movie']

In [12]:
basics['startYear'].value_counts()

2017    14209
2018    14138
2016    13849
2019    13705
2015    13344
        ...
1894        1
1899        1
1904        1
1906        1
1896        1
Name: startYear, Length: 129, dtype: int64

In [13]:
basics = basics[basics['startYear']>'1999']

In [14]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
13079,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021,NaN,133,Documentary
34790,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61085,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
66299,tt0067683,movie,Workers '71: Nothing About Us Without Us,Robotnicy 1971 - Nic o nas bez nas,0,2006,NaN,47,Documentary
67630,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama

In [15]:
is_documentary = basics['genres'].str.contains('Documentary',case=False)
basics = basics[~is_documentary]

In [16]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34790,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61085,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
67630,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
77924,tt0079644,movie,November 1828,November 1828,0,2001,NaN,140,"Drama,War"
86761,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"

In [17]:
akas = akas[akas['region'] == 'US']

In [18]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
36,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
41,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0

In [19]:
keepers =basics['tconst'].isin(akas['titleId'])
keepers

34790       True
61085       True
67630       True
77924      False
86761       True
           ...
9113395     True
9113404     True
9113443    False
9113488     True
9113572    False
Name: tconst, Length: 141799, dtype: bool

In [20]:
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34790,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61085,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
67630,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
86761,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
91030,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020,NaN,74,"Horror,Music,Thriller"
...,...,...,...,...,...,...,...,...,...
9112859,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019,NaN,74,Drama
9113255,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,NaN,97,"Comedy,Drama,Fantasy"
9113395,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama
9113404,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,90,"Action,Adventure,Thriller"
9113488,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"

In [23]:
keepers =ratings['tconst'].isin(akas['titleId'])
ratings = ratings[keepers]
ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      1901
1        tt0000002            5.9       254
4        tt0000005            6.2      2513
5        tt0000006            5.2       172
6        tt0000007            5.4       784
...            ...            ...       ...
1256627  tt9916204            8.1       240
1256634  tt9916348            8.5        17
1256635  tt9916362            6.4      4793
1256639  tt9916428            3.8        14
1256653  tt9916720            5.2       239

[473747 rows x 3 columns]

In [24]:
basics.to_csv("Data/title_basics.csv.gz", compression='gzip', index=False)

In [25]:
basics= pd.read_csv('Data/title_basics.csv.gz')

In [26]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020,NaN,74,"Horror,Music,Thriller"

In [27]:
ratings.to_csv("Data/title_ratings.csv.gz", compression='gzip', index=False)

In [28]:
akas.to_csv("Data/title_akas.csv.gz", compression='gzip', index=False)

In [29]:
ratings = pd.read_csv('Data/title_ratings.csv.gz')

In [30]:
akas = pd.read_csv('Data/title_akas.csv.gz')

In [33]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 473747 entries, 0 to 473746
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         473747 non-null  object
 1   averageRating  473747 non-null  float64
 2   numVotes       473747 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 10.8+ MB

In [34]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338644 entries, 0 to 1338643
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1338644 non-null  object
 1   ordering         1338644 non-null  int64
 2   title            1338644 non-null  object
 3   region           1338644 non-null  object
 4   language         3654 non-null     object
 5   types            963329 non-null   object
 6   attributes       44561 non-null    object
 7   isOriginalTitle  1337269 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 81.7+ MB